<div id="footer">
    <div class="inner">
        <span module="Layout_LogoBottom">
            <!--@css(/css/module/layout/logobottom.css)-->
            <a href="/index.html">{$mall_name}</a>
        </span>

        <div module="Layout_footer">
            <!--@css(/css/module/layout/footer.css)-->
            <ul class="utilMenu">
                <li><a href="/shopinfo/company.html">COMPANY</a></li>
                <li><a href="/member/agreement.html">AGREEMENT</a></li>
                <li><a href="/member/privacy.html"><strong>PRIVACYPOLICE</strong></a></li>
                <li><a href="/shopinfo/guide.html">GUIDE</a></li>
            </ul>
            <p class="address">
                <span>COMPANY  {$company_name} </span> <span>OWNER  {$president_name} </span> <span>BUSINESSNUMBER [{$company_regno}]</span> <span>{$biz_no_link}</span> <br />
                <span>TEL  {$phone}</span> <span>ADDRESS {$mall_zipcode} {$mall_addr1} {$mall_addr2}</span>
                <!-- <span>Contact <strong><a href="mailto:{$email}">{$email}</a> -->
            </p>
            <!-- <div id="SNS">
              <a href="https://www.instagram.com/creme_official/"><img src="" alt="">인스타</a>
              <a href="https://www.facebook.com/"><img src="" alt="">페이스북</a>
            </div> -->
            <p class="copyright">Copyright &copy; <strong>한지혜 포트폴리오</strong>. All rights reserved.</p>
        </div>
    </div>
</div>
