<div id="header">
<div class="inner">
    <div class="topArea">
        <h1 module="Layout_LogoTop">
            <!--@css(/css/module/layout/logotop.css)-->
            <a href="/index.html"><img src="/img/toplogo.png" alt="탑로고"></a>
        </h1>
        <div module="Layout_SearchHeader">
            <!--@css(/css/module/layout/searchHeader.css)-->
            <!--
                $product_page=/product/detail.html
                $category_page=/product/list.html
            -->
            <fieldset>
                <legend>검색</legend>
                {$form.keyword}<input type="image" src="//img.echosting.cafe24.com/skin/base/layout/btn_search.gif" alt="검색" onclick="{$action_search_submit}" /><ul class="autoDrop" id="{$search_auto_id}"></ul></fieldset>
        </div>

        <div module="Layout_statelogoff">
            <!--@css(/css/module/layout/statelogoff.css)-->
            <a href="/member/login.html" class="log">로그인</a>
            <a href="/order/basket.html">장바구니 <span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
            <a href="/myshop/index.html">마이쇼핑</a>
        </div>

        <div module="Layout_stateLogon">
            <!--@css(/css/module/layout/statelogon.css)-->
            <a href="{$action_logout}" class="log">로그아웃</a>
            <a href="/order/basket.html">장바구니 <span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
            <a href="/myshop/index.html">마이쇼핑</a>
        </div>

        <div id="category" module="Layout_category">
          <!--@css(/css/module/layout/2977/category.css)-->
          <!--@js(/js/module/layout/2977/category.js)-->
              <h2>전체상품목록</h2>
              <div class="position">
                  <ul>
                      <li><a href="/product/list.html{$param}">{$name_or_img_tag}</a></li>
                      <li><a href="/product/list.html{$param}">{$name_or_img_tag}</a></li>
                      <li><a href="/product/list.html{$param}">{$name_or_img_tag}</a></li>
                  </ul>
              </div>
          </div>
    </div>




</div>
</div>
