#container_title span{margin: 30px auto;}
#ft_logo img{ margin-top: 15px;width:90px;}
#ft_wr .ft_cnt { text-align: center; padding:0 20px}
#ft_wr{padding: 10px 0;}
#ft_company .ft_copy {font-size: 0.7em; margin-top: 10px;}
#ft_link.ft_cnt{margin-bottom: 20px;}
#top_btn{ border:none; outline: none; border-radius: 50%}
#top_btn img{width:25px; padding: 2px}
#top_btn .hov_btn{ display: none;}
#top_btn:hover{background-color: #fad000;}
#top_btn:hover .t_btn{display: none}
#top_btn:hover .hov_btn{display:inline-block;}
#ft_SNS{text-align: center; margin-top: 10px;}
#ft_SNS a{font-size: 35px; color: #cecece;}
#hd_SNS{text-align: right; width:1280px; }
#hd_SNS a{font-size: 35px; margin-top:15px; color: white;}
#bo_gall{margin-bottom: 50px;}
#youtube{text-align: center; padding: 50px;}
#youtube h2{ font-size: 2em;padding-bottom: 50px}
#sw_event h2{font-size: 2rem;text-align:center;padding-bottom: 25px; margin: 3% auto;}
.gnb_al_li>ul{font-size: 14px;}
#gnb_all .gnb_al_li li a:hover{color:#fad000; font-weight: bold;}
.menu_event{float: right;}
.menu_event img{width:340px;}
.swi_Wrapper { }
#youtube_sec h2{font-size: 2rem; text-align: center;}
#yutube_wrap{margin: 5% 15%;position: relative; }
#yutube_wrap .y_cont{display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);}
#yutube_wrap .y_title{border: 1px solid #ccc;
                      width: 200px;
                      text-align: center;margin: 10% 0;}
#yutube_wrap .y_title p{font-size: 2rem;
    font-weight: bold;}
#yutube_wrap .y_tit_cont{font-size: 1.7rem}
#yutube_wrap .y_tit_cont p{font-size: 1.2rem;
    line-height: 4rem;
}
.namepen {
    width: fit-content;
    padding: 0 0.25%;
    position: relative;
    z-index: 1;
}
.namepen::after {
    position: absolute;
    display: block;
    content: '\00a0';
    width: 100%;
    left: 0;
    right: 0;
    top: 10%;
    height: 60%;
    background-color: #ffe360;
    opacity: .8;
    transform: skew(-5deg);
    z-index: -1;
}



#join{ background: #fad000; width:100%; height: 100px; vertical-align: middle;}
#join h3{ display: inline-block; font-size: 1.5em;margin: 35px 100px; font-weight: bold}
#join h3 i{font-size: 1.5em; vertical-align: middle;}
#join a{ display: inline-block; float: right; background-color: black; color: white; font-weight: bold; margin: 30px 100px; padding: 10px;
        border-radius: 30px; font-size: 1.2em;}
